.sub-header {
    background-color: #0f5a80;
    z-index: 1;
    height: 1.875rem;
    padding: 0.125rem 0rem;

    .sub-header-holder {
        display: flex;
        justify-content: space-around;
    }


    .sub-header-content {
        display: flex;
        align-items: center;
        

        li {
            list-style: none;
            color: #fff;
            font-size: 0.78125rem;
            padding-right: 1.375rem;
            vertical-align: middle;

            a {
                font-size: 0.5625rem;
                color: #fff;
                text-decoration: none;
            }
        }
    }

    .sub-header-right {
        display: flex;
        align-items: center;
        justify-content: center;

        .input-holder {
            position: relative;
            
            input {
                height: 1rem;
                border-radius: 25px;
                outline: none;
                border: none;
            }

            input::placeholder {
                font-size: 0.55rem;
                text-align: left;
                padding: 0.5rem;
            }

            button {
                position: absolute;
                width: 30%;
                height: 1rem;
                font-size: 0.5625rem;
                top: 15%;
                right: 0.3%;
                border-radius: 25px;
                border: none;
                outline: none;
                background-color: #ffd800;
                color: #000;
                
            }
        }

        .cart-btn {
            height: 1rem;
            font-size: 0.5rem;
            width: 4.5rem;
            border: none;
            outline: none;
            border-radius: 25px;
            color: #fff;
            background-color: #f26e23;

            span {
                background-color: #0f5a80; 
                border-radius: 50%;
                padding: 1px;
                height: 0.5rem;
            }
        }  
    }
}