@import "http://fonts.cdnfonts.com/css/myriad-pro?styles=947,949,20533,946,952,950";
header {
  background-color: #f5f8fc;
}

.header-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.1rem 2rem;
}
.header-content .logo-holder {
  vertical-align: middle;
}
.header-content .logo-holder img {
  width: 70%;
}
.header-content .header-infor {
  font-size: 0.8rem;
  margin: 0;
}
.header-content .header-infor li {
  display: inline-block;
  list-style: none;
  padding-right: 1.5rem;
}
.header-content .header-infor li i {
  font-size: 0.8rem;
  font-weight: 800;
  color: #0f5a80;
}
.header-content .header-infor li a {
  color: #0f5a80;
  font-weight: 500;
}
.header-content .header-infor .main-menu {
  position: relative;
  padding: 0.8rem 0;
}
.header-content .header-infor .main-menu .sub-menu {
  position: absolute;
  top: 100%;
  display: none;
  box-shadow: 1px 1px 1px 1px gray;
  width: 120%;
  text-align: center;
  z-index: 999;
  background-color: #f5f8fc;
}
.header-content .header-infor .main-menu .sub-menu .sub-menu-item {
  margin-bottom: 1rem;
  padding: 0;
}
.header-content .header-infor .main-menu:hover > .sub-menu {
  display: block;
}
.header-content .header-right {
  display: flex;
  align-items: center;
}
.header-content .header-right .header-phone {
  padding: 0.4rem 1.5rem;
  border-radius: 20px;
  background-color: #f26739;
  color: #f5f8fc;
  font-size: 0.7rem;
  margin-right: 1rem;
}
.header-content .header-right .header-phone i {
  font-size: 0.7rem;
}
.header-content .header-right .customer {
  font-size: 0.8rem;
}
.header-content .header-right .customer a:first-child {
  color: #0f5a80;
  font-size: 0.8rem;
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
}
.header-content .header-right .customer a:last-child i {
  color: #0f5a80;
  vertical-align: middle;
}

.sub-header {
  background-color: #0f5a80;
  z-index: 1;
  padding: 0.5rem 0rem;
}
.sub-header .sub-header-holder {
  display: flex;
  justify-content: space-around;
}
.sub-header .sub-header-content {
  display: flex;
  align-items: center;
  margin-right: 4.5rem;
}
.sub-header .sub-header-content li {
  list-style: none;
  color: #fff;
  font-size: 0.8rem;
  padding-right: 1.375rem;
  vertical-align: middle;
}
.sub-header .sub-header-content li a {
  font-size: 0.8rem;
  color: #fff;
  text-decoration: none;
}
.sub-header .sub-header-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-header .sub-header-right .input-holder {
  position: relative;
}
.sub-header .sub-header-right .input-holder input {
  padding: 0.1rem 1rem;
  border-radius: 25px;
  outline: none;
  border: none;
}
.sub-header .sub-header-right .input-holder input::-moz-placeholder {
  font-size: 0.8rem;
  text-align: left;
}
.sub-header .sub-header-right .input-holder input:-ms-input-placeholder {
  font-size: 0.8rem;
  text-align: left;
}
.sub-header .sub-header-right .input-holder input::placeholder {
  font-size: 0.8rem;
  text-align: left;
}
.sub-header .sub-header-right .input-holder button {
  position: absolute;
  width: 30%;
  font-size: 0.8rem;
  top: 0%;
  right: 0.3%;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: #ffd800;
  color: #000;
  padding: 0.27rem 0;
}
.sub-header .sub-header-right .cart-btn {
  font-size: 0.8rem;
  border: none;
  outline: none;
  border-radius: 25px;
  color: #fff;
  background-color: #f26e23;
  padding: 0.27rem 1rem;
}
.sub-header .sub-header-right .cart-btn span {
  background-color: #0f5a80;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 0.5rem;
}

.content-banner {
  padding: 0.5625rem 0 0 0;
}
.content-banner .content-banner-holder {
  display: grid;
  grid-template-columns: 60% 39%;
  grid-gap: 0.75rem;
}
.content-banner .content-banner-holder .right-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: -webkit-max-content;
  grid-template-rows: max-content;
  grid-gap: 0.75rem;
}
.content-banner .content-banner-holder .right-content .slider {
  grid-column: 1/3;
  width: 100%;
}
.content-banner .content-banner-holder .right-content .slider .owl-carousel {
  overflow: hidden;
  position: relative;
}
.content-banner .content-banner-holder .right-content .slider .owl-carousel .item img {
  width: 100%;
  -o-object-position: center;
     object-position: center;
}
.content-banner .content-banner-holder .right-content .slider .owl-carousel .owl-dots {
  position: absolute;
  top: 88%;
  right: 40%;
}
.content-banner .content-banner-holder .right-content .img-holder img {
  width: 100%;
  height: 100%;
}
.content-banner .content-banner-holder .left-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-gap: 0.75rem;
}
.content-banner .content-banner-holder .left-content .left-img-holder img {
  width: 100%;
  height: 100%;
}

.content-categories {
  padding: 1.5625rem 0;
}
.content-categories .categories-holder {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 120px);
  grid-gap: 10px;
}
.content-categories .categories-holder .categories-details {
  background-color: #0f5a80;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.content-categories .categories-holder .categories-details a {
  text-decoration: none;
}
.content-categories .categories-holder .categories-details p {
  margin: 3rem 3rem 0 1rem;
  text-align: left;
  line-height: 20px;
  color: #fff;
}
.content-categories .categories-holder .categories-details img {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 18%;
  z-index: 1;
}
.content-categories .categories-holder .categories-details::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #31b8b9;
  border-radius: 50%;
  top: -40%;
  right: -30%;
}
.content-categories .categories-holder .categories-details:hover {
  box-shadow: 0px 0 0 1px #1170a0;
}

.banner {
  margin-bottom: 1.5625rem;
}
.banner img {
  width: 100%;
}

.content-1 {
  padding-bottom: 1.5625rem;
}
.content-1 .content-1-heading {
  position: relative;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  color: #0071bc;
  width: 20%;
}
.content-1 .content-1-heading p {
  z-index: 1;
}
.content-1 .content-1-heading p span {
  color: #f26e23;
}
.content-1 .content-1-heading::after {
  position: absolute;
  content: "";
  background-color: #ffec0f;
  width: 50%;
  height: 0.6875rem;
  z-index: -1;
  bottom: 0;
  left: 0;
}
.content-1 .content-1-holder {
  width: 100%;
  display: flex;
}
.content-1 .content-1-holder .content-1-left {
  width: 25%;
  padding-right: 1rem;
}
.content-1 .content-1-holder .content-1-left img {
  width: 100%;
  height: 100%;
}
.content-1 .content-1-holder .content-1-right {
  width: 75%;
  position: relative;
}
.content-1 .content-1-holder .content-1-right .content-1-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1.875rem;
  grid-row-gap: 0.5rem;
}
.content-1 .content-1-holder .content-1-right .content-1-grid .content-1-item {
  width: 100%;
  cursor: pointer;
}
.content-1 .content-1-holder .content-1-right .content-1-grid .content-1-item a {
  color: black;
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: none;
}
.content-1 .content-1-holder .content-1-right .content-1-grid .content-1-item .item-info {
  display: flex;
  align-items: center;
  color: #f26e23;
  font-size: 0.5rem;
  font-weight: 500;
  padding: 0.5rem 0 1rem;
}
.content-1 .content-1-holder .content-1-right .content-1-grid .content-1-item .item-info .item-info-left {
  margin-right: 1rem;
}
.content-1 .content-1-holder .content-1-right .content-1-grid .content-1-item .item-info img {
  width: 25%;
  display: inline-block;
}
.content-1 .content-1-holder .content-1-right .content-1-grid .content-1-item .content-1-btn button {
  border-radius: 20px;
  font-size: 0.6rem;
  font-weight: 700;
  padding: 0.5rem 1.8rem;
  outline: none;
  border: 1px solid #999;
  background-color: #fff;
  color: #0f5a80;
}
.content-1 .content-1-holder .content-1-right .content-1-grid .content-1-item .content-1-btn button a {
  font-size: 0.6rem;
  color: #0f5a80;
  font-weight: 700;
}
.content-1 .content-1-holder .content-1-right .content-1-grid .content-1-item .content-1-btn button:hover {
  background-color: #0f5a80;
  border: 1px solid #fff;
}
.content-1 .content-1-holder .content-1-right .content-1-grid .content-1-item .content-1-btn button:hover a {
  color: #fff;
}
.content-1 .content-1-holder .content-1-right .content-1-grid .content-1-item .content-1-btn .item-btn {
  margin: 0 0.5rem;
}
.content-1 .content-1-holder .content-1-right .content-1-grid .content-1-item:hover {
  box-shadow: 2px 2px 8px 0 #a0a0a0;
}
.content-1 .content-1-holder .content-1-right .carousel-nav {
  position: absolute;
  top: -8%;
  right: 0;
}
.content-1 .content-1-holder .content-1-right .carousel-nav button {
  height: 20px;
  width: 20px;
  position: relative;
  border: 1px solid #0f5a80;
  background-color: #fff;
  outline: none;
  vertical-align: middle;
}
.content-1 .content-1-holder .content-1-right .carousel-nav button i {
  position: absolute;
  top: 1px;
  left: 0;
  color: #0f5a80;
}
.content-1 .content-1-holder .content-1-right .carousel-nav span {
  margin-left: 1rem;
}
.content-1 .content-1-holder .content-1-right .carousel-nav span a {
  color: #0f5a80;
  font-size: 0.8rem;
}

.content-2 {
  padding-bottom: 2rem;
}
.content-2 .content-2-holder {
  width: 100%;
  height: 100%;
  display: flex;
}
.content-2 .content-2-holder .content-2-left {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1.5rem;
}
.content-2 .content-2-holder .content-2-left .left-item {
  cursor: pointer;
}
.content-2 .content-2-holder .content-2-left .left-item .left-item-grid {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  grid-column-gap: 1rem;
}
.content-2 .content-2-holder .content-2-left .left-item .left-item-grid .grid-detail {
  background-color: #f5f8fc;
  height: 280px;
}
.content-2 .content-2-holder .content-2-left .left-item .left-item-grid .grid-detail a {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: 1rem;
}
.content-2 .content-2-holder .content-2-left .left-item .left-item-grid .grid-detail .grid-info {
  color: #808080;
  font-size: 0.6rem;
  font-weight: 500;
  margin: 1rem 1rem 0;
}
.content-2 .content-2-holder .content-2-left .left-item .left-item-grid .grid-detail img {
  width: 100%;
}
.content-2 .content-2-holder .content-2-left .left-item .left-item-grid .grid-detail:hover {
  box-shadow: 1px 1px 5px 0 #999999;
}
.content-2 .content-2-holder .content-2-right {
  width: 25%;
}
.content-2 .content-2-holder .content-2-right .item-content {
  background-color: #f5f8fc;
  padding: 1rem;
}
.content-2 .content-2-holder .content-2-right .item-content .item-content-detail {
  background-color: #fff;
  padding: 0.05rem 0.5rem;
  margin-bottom: 1rem;
  line-height: 1.125rem;
}
.content-2 .content-2-holder .content-2-right .item-content .item-content-detail a {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  font-weight: 600;
}
.content-2 .content-2-holder .content-2-right .item-content .item-content-detail p {
  margin: 0;
  font-size: 0.5rem;
  font-weight: 500;
  color: #999;
}

.item-heading {
  position: relative;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  color: #0071bc;
  width: 50%;
}
.item-heading p {
  z-index: 1;
}
.item-heading p span {
  color: #f26e23;
}

.item-heading::after {
  position: absolute;
  content: "";
  background-color: #ffec0f;
  width: 21%;
  height: 0.6875rem;
  z-index: -1;
  bottom: 0;
  left: 0;
}

#heading-aside {
  width: 70%;
}

@media (max-width: 1100px) {
  .content-2 .content-2-holder .content-2-right .item-content .item-content-detail a {
    font-size: 0.6rem;
  }
}
.content-3 {
  background: url(./../images/banner/Untitled-1-01.png) no-repeat;
  background-size: contain;
  height: 100vh;
  width: 100%;
  position: relative;
}
.content-3 .content-3-heading {
  background: url(./../images/banner/part-of-img-01.png) no-repeat center;
  background-size: cover;
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  top: 9%;
  left: 32%;
  z-index: 1;
}
.content-3 .content-3-heading h4 {
  font-size: 0.6rem;
  font-weight: 400;
  color: #666666;
}
.content-3 .content-3-heading p {
  font-size: 1.2rem;
  color: #0071bc;
}
.content-3 .content-3-heading p span {
  color: #f26e23;
  position: relative;
}
.content-3 .content-3-heading p span::after {
  position: absolute;
  content: "";
  background-color: #ffec0f;
  width: 70%;
  height: 0.6875rem;
  z-index: -1;
  bottom: 0;
  left: 0;
}
.content-3 .content-3-btn {
  position: absolute;
  bottom: 21%;
  left: 24%;
}
.content-3 .content-3-btn button {
  text-transform: uppercase;
  font-size: 0.8rem;
  background-color: #ff3d88;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 0.6rem 2rem;
}
.content-3 .content-3-btn button i {
  margin-left: 0.5rem;
  padding: 0.2rem;
  border-radius: 50%;
  color: #ff3d88;
  background-color: #fff;
}
.content-3 .content-3-list {
  position: absolute;
  bottom: 20%;
  right: 9%;
  width: 45%;
  background-color: #eaf4ff;
}
.content-3 .content-3-list .ct-3-item {
  display: flex;
  margin-bottom: 1rem;
}
.content-3 .content-3-list .ct-3-item .ct3-img-holder {
  padding: 1rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.content-3 .content-3-list .ct-3-item .ct3-img-holder img {
  width: 100%;
}
.content-3 .content-3-list .ct-3-item #blue-bg {
  background-color: #9ed9f4;
}
.content-3 .content-3-list .ct-3-item #red-bg {
  background-color: #fdd7dc;
}
.content-3 .content-3-list .ct-3-item #yellow-bg {
  background-color: #f2f6d1;
}
.content-3 .content-3-list .ct-3-item #light-blue-bg {
  background-color: #b4f3ea;
}
.content-3 .content-3-list .ct-3-item .ct3-description a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
}
.content-3 .content-3-list .ct-3-item .ct3-description #blue-text {
  color: #0071bc;
}
.content-3 .content-3-list .ct-3-item .ct3-description #red-text {
  color: #d85b71;
}
.content-3 .content-3-list .ct-3-item .ct3-description #yellow-text {
  color: #f1ac17;
}
.content-3 .content-3-list .ct-3-item .ct3-description #light-blue-text {
  color: #4ab9ae;
}
.content-3 .content-3-list .ct-3-item .ct3-description p {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 500;
}
.content-3 .content-3-footer {
  position: absolute;
  background-color: #31b8b9;
  height: 10vh;
  bottom: 0;
  width: 100%;
}

@media screen and (min-width: 1024px) and (max-width: 1100px) {
  .content-3 .content-3-heading {
    top: 7%;
    left: 32%;
    z-index: 1;
  }
  .content-3 .content-3-heading p {
    font-size: 1rem;
  }
  .content-3 .content-3-btn {
    position: absolute;
    bottom: 45%;
    left: 24%;
  }
  .content-3 .content-3-btn button {
    padding: 0.5rem 1rem;
  }
  .content-3 .content-3-btn button i {
    margin-left: 0.5rem;
    padding: 0.2rem;
    border-radius: 50%;
    color: #ff3d88;
    background-color: #fff;
  }
  .content-3 .content-3-list {
    bottom: 45%;
    right: 9%;
    width: 45%;
  }
  .content-3 .content-3-list .ct-3-item {
    display: flex;
    margin-bottom: 0.8rem;
  }
  .content-3 .content-3-list .ct-3-item .ct3-img-holder {
    padding: 0.6rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
  .content-3 .content-3-list .ct-3-item .ct3-img-holder img {
    width: 100%;
  }
  .content-3 .content-3-list .ct-3-item .ct3-description a {
    font-size: 0.8rem;
  }
  .content-3 .content-3-list .ct-3-item .ct3-description p {
    margin: 0;
    font-size: 0.6rem;
  }
}
.footer {
  background: url(../images/footer.png) no-repeat center;
  background-size: cover;
  height: 85vh;
}
.footer .footer-holder {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2.2rem;
  padding-top: 3rem;
}
.footer .footer-holder .footer-item .footer-heading {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  border-bottom: 2px solid #5cc2a8;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.footer .footer-holder .footer-item .footer-heading .heading-input {
  position: relative;
  height: 100%;
}
.footer .footer-holder .footer-item .footer-heading .heading-input input {
  height: 100%;
}
.footer .footer-holder .footer-item .footer-heading .heading-input button {
  position: absolute;
  width: 20%;
  height: 100%;
  outline: none;
  border: none;
  background-color: #5cc2a8;
  color: #fff;
}
.footer .footer-holder .footer-item .footer-content {
  display: flex;
  flex-direction: column;
}
.footer .footer-holder .footer-item .footer-content a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
.footer .footer-holder .footer-item .footer-content-1 {
  margin-top: 2.5rem;
}
.footer .footer-holder .footer-item .footer-content-1 h4 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  color: #d9e021;
}
.footer .footer-holder .footer-item .footer-content-1 p {
  color: #fff;
  margin: 0;
  margin-bottom: 0.2rem;
}
.footer .footer-holder .footer-item .footer-contact p {
  color: #fff;
  font-size: 1.5rem;
  margin: 0;
}
.footer .footer-holder .footer-item .footer-contact .contact-logo {
  display: flex;
}
.footer .footer-holder .footer-item .footer-contact .contact-logo .contact-logo-holder {
  margin-right: 1rem;
}
.footer .footer-holder .footer-item .footer-contact .contact-logo .contact-logo-holder img {
  width: 100%;
}
.footer .footer-holder .footer-item .footer-info {
  color: #fff;
  margin-top: 3rem;
}
.footer .footer-holder .footer-item .footer-info p {
  margin: 0;
}
.footer .footer-holder .footer-item .footer-info p#first-p {
  text-transform: uppercase;
}
.footer .copy-right {
  font-size: 0.8rem;
  border-top: 1px solid #5cc2a8;
  margin-top: 2rem;
  text-align: center;
  padding: 1rem 0;
  color: #fff;
}

.banner-course {
  margin-bottom: 2rem;
}
.banner-course img {
  width: 100%;
  box-shadow: 0px 1px 5px 0px #bebebe;
}

.course-sv-content {
  margin-bottom: 2rem;
}
.course-sv-content .cs-content-holder {
  width: 100%;
  display: flex;
}
.course-sv-content .cs-content-holder .cs-content-left {
  width: 25%;
  margin: -11rem 1.5rem 0 0;
}
.course-sv-content .cs-content-holder .cs-content-left .cs-left-item {
  padding: 0.5rem;
  margin-bottom: 2rem;
  background-color: #fff;
  box-shadow: 1px 1px 5px 0px #bdbdbd;
}
.course-sv-content .cs-content-holder .cs-content-left .cs-left-item .cs-img-holder img {
  width: 100%;
}
.course-sv-content .cs-content-holder .cs-content-left .cs-left-item h4 {
  font-size: 1.2rem;
  text-align: center;
  margin: 0.5rem 0;
}
.course-sv-content .cs-content-holder .cs-content-left .cs-left-item .cs-register-btn {
  text-align: center;
  padding: 0.5rem;
  background-color: #5cc2a8;
  cursor: pointer;
}
.course-sv-content .cs-content-holder .cs-content-left .cs-left-item .cs-register-btn button {
  font-size: 1rem;
  color: #fff;
  border: none;
  outline: none;
  background-color: #5cc2a8;
}
.course-sv-content .cs-content-holder .cs-content-left .cs-left-item .cs-register-btn:hover {
  background-color: #fff;
  color: #5cc2a8;
  border: 1px solid #5cc2a8;
}
.course-sv-content .cs-content-holder .cs-content-left .cs-left-item .cs-register-btn:hover button {
  color: #5cc2a8;
  background-color: #fff;
}
.course-sv-content .cs-content-holder .cs-content-left .cs-left-item .cs-left-detail {
  margin-top: 1rem;
}
.course-sv-content .cs-content-holder .cs-content-left .cs-left-item .cs-left-detail .cs-detail-p {
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.course-sv-content .cs-content-holder .cs-content-left .cs-left-item .cs-left-detail .cs-detail-p img {
  width: auto;
}
.course-sv-content .cs-content-holder .cs-content-left .cs-left-item .cs-left-detail ul {
  font-size: 0.8rem;
  list-style: none;
  margin: 0 0 0.5rem 2rem;
}
.course-sv-content .cs-content-holder .cs-content-left .cs-left-item .cs-left-detail p {
  margin: 0;
}
.course-sv-content .cs-content-holder .cs-content-left .cs-left-item-1 .cs-left-item-heading {
  position: relative;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  color: #0071bc;
  margin-bottom: 0.5rem;
}
.course-sv-content .cs-content-holder .cs-content-left .cs-left-item-1 .cs-left-item-heading::after {
  position: absolute;
  content: "";
  width: 28%;
  background-color: #ffec0f;
  height: 0.6875rem;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.course-sv-content .cs-content-holder .cs-content-left .cs-left-item-1 .cs-left-detail-holder {
  background-color: #f2f2f2;
  padding: 0.8rem;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0px #bdbdbd;
}
.course-sv-content .cs-content-holder .cs-content-left .cs-left-item-1 .cs-left-detail-holder .cs-left-detail-1 {
  background-color: #fff;
  padding: 0.05rem 0.5rem;
  margin-bottom: 1rem;
  line-height: 1.125rem;
}
.course-sv-content .cs-content-holder .cs-content-left .cs-left-item-1 .cs-left-detail-holder .cs-left-detail-1 a {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  font-weight: 600;
}
.course-sv-content .cs-content-holder .cs-content-left .cs-left-item-1 .cs-left-detail-holder .cs-left-detail-1 p {
  margin: 0;
  font-size: 0.5rem;
  font-weight: 500;
  color: #999;
}
.course-sv-content .cs-content-holder .cs-content-right {
  width: 75%;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-top-content {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 1px 1px 5px 0px #bdbdbd;
  margin-bottom: 2rem;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-top-content .right-content-item {
  text-align: center;
  padding: 0.5rem;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-top-content .right-content-item p {
  text-transform: uppercase;
  color: #0f5a80;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-top-content .right-content-item #chat-btn {
  margin: 1rem 0;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-top-content .right-content-item #chat-btn a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #fff;
  padding: 0.4rem 1.5rem;
  background-color: #31b8b9;
  border-radius: 15px;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-top-content .right-content-item #contact-btn {
  margin-bottom: 1rem;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-top-content .right-content-item #contact-btn span {
  font-size: 0.8rem;
  color: #31b8b9;
  background-color: #ffdc4a;
  padding: 0.4rem 1.7rem;
  border-radius: 15px;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-top-content .right-content-item form {
  font-size: 1rem;
  text-align: left;
  margin-top: 1rem;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-top-content .right-content-item form label {
  display: inline;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-top-content .right-content-item .right-social-btn {
  display: inline;
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.5rem;
  background-color: #4267b2;
  border-radius: 15px;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-top-content .right-content-item .right-social-btn a {
  text-decoration: none;
  color: #fff;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-top-content .right-content-item:not(:last-child) {
  border-right: 0.5px solid #31b8b9;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-top-content .first-item {
  flex: 0 0 20%;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-top-content .second-item {
  flex: 0 0 55%;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-top-content .third-item {
  flex: 0 0 25%;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-top-content .third-item p {
  margin-bottom: 2rem;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-main-content {
  border-radius: 15px;
  box-shadow: 1px 1px 5px 0px #bdbdbd;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-main-content .cs-right-main-btn {
  display: flex;
  justify-content: space-around;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-main-content .cs-right-main-btn .tab-btn {
  flex: 0 0 25%;
  padding: 0.5rem 0;
  border: none;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-main-content .cs-right-main-btn .tab-btn:first-child {
  border-radius: 15px 0 0 0;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-main-content .cs-right-main-btn .tab-btn:last-child {
  border-radius: 0 15px 0 0;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-main-content .cs-right-main-btn .tab-btn:hover {
  color: #fff;
  background-color: #7ce0c3;
  transition: background-color 0.2s ease-in-out;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-main-content .cs-right-main-btn .active-btn {
  color: #fff;
  background-color: #7ce0c3;
  outline: none;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-main-content .cs-right-main-details .cs-single-item {
  padding: 1rem;
  display: none;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-main-content .cs-right-main-details .cs-single-item .cs-item-text {
  margin-bottom: 1.5rem;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-main-content .cs-right-main-details .cs-single-item .cs-item-text h5 {
  text-transform: uppercase;
  font-size: 1rem;
  margin: 1rem 0 0.2rem;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-main-content .cs-right-main-details .cs-single-item .cs-item-text p {
  font-size: 1rem;
  margin-bottom: 0rem;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-main-content .cs-right-main-details .cs-single-item .cs-img-holder {
  width: 80%;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-main-content .cs-right-main-details .cs-single-item .cs-img-holder img {
  width: 100%;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-main-content .cs-right-main-details .cs-single-item .slider {
  width: 90%;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-main-content .cs-right-main-details .cs-single-item .slider img {
  width: 100%;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-main-content .cs-right-main-details .cs-single-item .single-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-main-content .cs-right-main-details .cs-single-item .single-grid .main-grid-item {
  grid-column: 1/4;
  height: 400px;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-main-content .cs-right-main-details .cs-single-item .single-grid .main-grid-item iframe {
  width: 100%;
  height: 95%;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-main-content .cs-right-main-details .cs-single-item .single-grid .single-grid-item iframe {
  width: 100%;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-main-content .cs-right-main-details .cs-single-item .cs-single-form input {
  margin-left: 2rem;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-main-content .cs-right-main-details .cs-single-item .cs-single-form button {
  margin: 3rem 40% 0;
  border: none;
  background-color: #458cc7;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.2rem 1rem;
  border-radius: 15px;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-main-content .cs-right-main-details .cs-single-item .cs-single-form button:hover {
  background-color: #fff;
  color: #458cc7;
  border: 1px solid #458cc7;
}
.course-sv-content .cs-content-holder .cs-content-right .cs-right-main-content .cs-right-main-details .active-item {
  display: block;
}

.course-sv-content-1 .content-1-heading {
  position: relative;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  color: #0071bc;
  width: 20%;
}
.course-sv-content-1 .content-1-heading p {
  z-index: 1;
}
.course-sv-content-1 .content-1-heading p span {
  color: #f26e23;
}
.course-sv-content-1 .content-1-heading::after {
  position: absolute;
  content: "";
  background-color: #ffec0f;
  width: 50%;
  height: 0.6875rem;
  z-index: -1;
  bottom: 0;
  left: 0;
}
.course-sv-content-1 .content-1-holder {
  display: flex;
  flex-wrap: wrap;
}
.course-sv-content-1 .content-1-holder .content-1-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.8rem;
  margin-bottom: 1rem;
}
.course-sv-content-1 .content-1-holder .content-1-grid .content-1-item {
  width: 100%;
  cursor: pointer;
}
.course-sv-content-1 .content-1-holder .content-1-grid .content-1-item .content-1-img-holder img {
  width: 100%;
}
.course-sv-content-1 .content-1-holder .content-1-grid .content-1-item a {
  color: black;
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: none;
}
.course-sv-content-1 .content-1-holder .content-1-grid .content-1-item .item-info {
  display: flex;
  align-items: center;
  color: #f26e23;
  font-size: 0.5rem;
  font-weight: 500;
  padding: 0.5rem 0 1rem;
}
.course-sv-content-1 .content-1-holder .content-1-grid .content-1-item .item-info .item-info-left {
  margin-right: 1rem;
}
.course-sv-content-1 .content-1-holder .content-1-grid .content-1-item .item-info img {
  width: 25%;
  display: inline-block;
}
.course-sv-content-1 .content-1-holder .content-1-grid .content-1-item .content-1-btn button {
  border-radius: 20px;
  font-size: 0.6rem;
  font-weight: 700;
  padding: 0.5rem 1.8rem;
  outline: none;
  border: 1px solid #999;
  background-color: #fff;
  color: #0f5a80;
}
.course-sv-content-1 .content-1-holder .content-1-grid .content-1-item .content-1-btn button a {
  font-size: 0.6rem;
  color: #0f5a80;
  font-weight: 700;
}
.course-sv-content-1 .content-1-holder .content-1-grid .content-1-item .content-1-btn button:hover {
  background-color: #0f5a80;
  border: 1px solid #fff;
}
.course-sv-content-1 .content-1-holder .content-1-grid .content-1-item .content-1-btn button:hover a {
  color: #fff;
}
.course-sv-content-1 .content-1-holder .content-1-grid .content-1-item .content-1-btn .item-btn {
  margin: 0 0.5rem;
}
.course-sv-content-1 .content-1-holder .content-1-grid .content-1-item:hover {
  box-shadow: 2px 2px 8px 0 #a0a0a0;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Myriad Pro", sans-serif;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=style.css.map */